// Soyuz Grotesk 

@import url('https://fonts.cdnfonts.com/css/soyuz-grotesk');

// @font-face {
//   font-family: soyuz grotesk, sans-serif;
//   src: url("../fonts/SoyuzGrotesk/Soyuz Grotesk-Bold.woff") format("woff");
//   font-weight: 700;
//   font-style: normal;
// }

// Inter
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}