// color
$common-color: #60c880;
$color-gray: #ededed;
$color-black: #2b2d33;
$color-dark: #2f2f2f;
$color-dark-second: #1b4452;
$color-white: #fff;
$bg: #1b4452;
$bg2: #e6e0d0;

// Шрифты (названия в миксинах)
$font_title: SoyuzGrotesk;
$font_regular: Inter;
$font_medium: Inter-m;
$font_bold: Inter-b;

//Разрешения экранов
$desktop-width: 1320px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;